/*home Style*/

.home_style{
    background-image: url(/img/MiniOs_Background.webp);
    backdrop-filter: blur(40px);
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-rows: 1fr;
    color: white;
    padding: 0;
    margin: 0;
}

/*Home Styles*/

.user_init{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    margin-top: 11rem;
    padding-bottom: 15rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.user_pfp{
    grid-column: 2;
    grid-row: 2;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    
}

.user_welcome{
    grid-column: 1/-1;
    text-align: center;
}

.user_name{
    grid-row: 3;
    grid-column: 2;
    text-align: center;
}

.user_home{
    grid-row: 4;
    grid-column: 2;
    text-align: center;
    background-color: #a3d6ff72;
    border-radius: 25px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    transition: 0.2s;
}

.user_homeB{
    all: unset;
    cursor: pointer;
    color: white;
}

.user_homeC{
    text-decoration: none;
    text-align: auto;
}

.user_home:hover{
    background-color: #a3d6ff30;
}

/*MiniOs Section*/

/*MiniOs Background*/

.minios_background{    
    background-image: url(/img/MiniOs_Background.webp);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
}

/*Datetime*/

header {
    background-color: #000000a9;
    padding: 20px;
    text-align: right;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.datetime {
    font-size: 16px;
    color: #837b7b;
}

.fecha {
    font-weight: bold;
    margin-right: 10px;
}

.hora {
    color: #522358;
}

/*Barra de tareas*/

.taskbar_style {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #1e1e2f;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
    z-index: 100;
    padding-top: 2rem;
}

.taskbar-app {
    background-color: #2e2e3e;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    font-size: 0.9rem;
    margin-bottom: 2rem;
}

.taskbar-app:hover {
    background-color: #3e3e5e;
    transform: translateY(-2px);
}

.app_size{
    width: 25%;
    margin: auto;
    padding-left: 3rem;
    padding-right: 3rem;
}

